.container {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(180, 180, 180);  
    padding: 40px;
    margin-top: 60px; 
    width: 400px;
    border-radius: 2%;
}

.box {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(160, 160, 160);  
    padding: 20px;
    border-radius: 2%;
}

.body {
    background-color: rgb(200, 220, 255);
}